body {
  margin: 0;
  scroll-behavior: smooth;
}

main {
  display: block;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
  border-radius: 0;
}

button,
select {
  text-transform: none;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul li,
nav li {
  list-style: none;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
a,
span,
p {
  font-family: 'Oxygen', sans-serif;
}

//a {
//  color: $white-color;
//  transition: color 0.3s ease-in-out;
//
//  &:hover {
//    color: $turquoise-color;
//  }
//}

.dot-font,
.dot-item {
  font-family: sans-serif;
  line-height: 1;
}

.site {
  overflow: hidden;
  //position: relative;
}

.grecaptcha-badge {
  bottom: 95px !important;
  visibility: hidden;
}


.container {
  margin: auto;
  width: 100%;
  max-width: 1920px;
}


//change colors

.white {
  .main-banner {
    @media (min-width: 1922px) {
      border-left: 2px solid rgba(196, 196, 196, .4);
      border-right: 2px solid rgba(196, 196, 196, .4);
    }
  }
}

.primary-aqua {
  color: #57c1d5;
}

.primary-red {
  color: #ff3157;
}

.primary-green {
  color: #49bf00;
}

.primary-purple {
  color: #a436fa;
}

.primary-yellow {
  color: #ffe94d;
}

.primary-blue {
  color: #3e61fa;
}

.primary-orange {
  color: #ff8141;
}

.primary-azure {
  color: #35f1ee;
}

.primary-pink {
  color: #e318e8;
}