// Colors
$works-background-color: #584343;
$white-color: #fff;
$turquoise-color: #57C1D5;
$blue-color: #153D6C;
$gray-color: #C4C4C4;
$gray-blur-color: rgba(196, 196, 196, 0.4);
$white-blur-color: rgba(255, 255, 255, 0.4);
$dark-hover-color: #151414;
$blue-background: #061527;


//__________Works____________

// Area size
$area-width: 500000px;
$area-height: 500000px;

// Project image size
// mobile
$project-image-width-mob: 38.13vw;
$project-image-height-mob: 16.73vh;
// 768px
//  $project-image-width-768: 24.74vw;
//  $project-image-height-768: 14.16vh;

  $project-image-width-768: 38.13vw;
  $project-image-height-768: 16.73vh;
// 1200px
  $project-image-width-1200: 25.83vw;
  $project-image-height-1200: 28.33vh;
// 1920px
  $project-image-width-1920: 25.26vw;
  $project-image-height-1920: 34.91vh;

// Spacing
// mobile
$spacing-between-rows-mob: 7.57vh;
$spacing-between-columns-mob: 16.56vw;
// 768px
//  $spacing-between-rows-768: 6.64vh;
//  $spacing-between-columns-768: 10.68vw;

  $spacing-between-rows-768: 7.57vh;
  $spacing-between-columns-768: 16.56vw;
// 1200px
  $spacing-between-rows-1200: 13.04vh;
  $spacing-between-columns-1200: 11.25vw;
// 1920px
  $spacing-between-rows-1920: 16.02vh;
  $spacing-between-columns-1920: 10.99vw;

// First project
// mobile
$first-project-top-mob: calc(#{$area-height} / 2 - 100vh / 2);
$first-project-left-mob: calc(#{$area-width} / 2 - 100vw / 2 - 3.13vw);
$first-bottom-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 3 + #{$spacing-between-rows-mob} * 3);
$first-double-extra-bottom-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 6 + #{$spacing-between-rows-mob} * 6);
$first-extra-top-project-top-mob: calc(#{$first-project-top-mob} - #{$project-image-height-mob} * 3 - #{$spacing-between-rows-mob} * 3);
$first-quintuple-extra-bottom-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 9 + #{$spacing-between-rows-mob} * 9);
// 768px
//  $first-project-top-768: calc(#{$area-height} / 2 - 100vh / 2 - 1.76vh);
//  $first-project-left-768: calc(#{$area-width} / 2 - 100vw / 2 - 10.16vw);

$first-project-top-768: calc(#{$area-height} / 2 - 100vh / 2);
$first-project-left-768: calc(#{$area-width} / 2 - 100vw / 2 - 3.13vw);
  $first-bottom-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} * 3 + #{$spacing-between-rows-768} * 3);
  $first-double-extra-bottom-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} * 6 + #{$spacing-between-rows-768} * 6);
  $first-extra-top-project-top-768: calc(#{$first-project-top-768} - #{$project-image-height-768} * 3 - #{$spacing-between-rows-768} * 3);
  $first-quintuple-extra-bottom-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} * 9 + #{$spacing-between-rows-768} * 9);
// 1200px
  $first-project-top-1200: calc(#{$area-height} / 2 - 100vh / 2 - 5.39vh);
  $first-project-left-1200: calc(#{$area-width} / 2 - 100vw / 2 - 12.64vw);
  $first-bottom-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 3 + #{$spacing-between-rows-1200} * 3);
  $first-double-extra-bottom-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 6 + #{$spacing-between-rows-1200} * 6);
  $first-extra-top-project-top-1200: calc(#{$first-project-top-1200} - #{$project-image-height-1200} * 3 - #{$spacing-between-rows-1200} * 3);
  $first-quintuple-extra-bottom-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 9 + #{$spacing-between-rows-1200} * 9);
// 1920px
  $first-project-top-1920: calc(#{$area-height} / 2 - 100vh / 2 - 16.11vh);
  $first-project-left-1920: calc(#{$area-width} / 2 - 100vw / 2 - 9.64vw);
  $first-bottom-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 3 + #{$spacing-between-rows-1920} * 3);
  $first-double-extra-bottom-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 6 + #{$spacing-between-rows-1920} * 6);
  $first-extra-top-project-top-1920: calc(#{$first-project-top-1920} - #{$project-image-height-1920} * 3 - #{$spacing-between-rows-1920} * 3);
  $first-quintuple-extra-bottom-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 9 + #{$spacing-between-rows-1920} * 9);

// Fourth project
// mobile
$fourth-project-left-mob: calc(#{$area-width} / 2 - 100vw / 2 + 18.44vw);
$fourth-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} + #{$spacing-between-rows-mob});
$fourth-bottom-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 4 + #{$spacing-between-rows-mob} * 4);
$fourth-top-project-top-mob: calc(#{$first-project-top-mob} - #{$project-image-height-mob} * 2 - #{$spacing-between-rows-mob} * 2);
$fourth-triple-extra-top-project-top-mob: calc(#{$first-project-top-mob} - #{$project-image-height-mob} * 5 - #{$spacing-between-rows-mob} * 5);
$fourth-triple-extra-bottom-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 7 + #{$spacing-between-rows-mob} * 7);
// 768px
//  $fourth-project-left-768: calc(#{$area-width} / 2 - 100vw / 2 + 3.65vw);
  $fourth-project-left-768: calc(#{$area-width} / 2 - 100vw / 2 + 18.44vw);
  $fourth-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} + #{$spacing-between-rows-768});
  $fourth-bottom-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} * 4 + #{$spacing-between-rows-768} * 4);
  $fourth-top-project-top-768: calc(#{$first-project-top-768} - #{$project-image-height-768} * 2 - #{$spacing-between-rows-768} * 2);
  $fourth-triple-extra-top-project-top-768: calc(#{$first-project-top-768} - #{$project-image-height-768} * 5 - #{$spacing-between-rows-768} * 5);
  $fourth-triple-extra-bottom-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-mob} * 7 + #{$spacing-between-rows-768} * 7);
// 1200px
  $fourth-project-left-1200: calc(#{$area-width} / 2 - 100vw / 2 + 1.04vw);
  $fourth-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} + #{$spacing-between-rows-1200});
  $fourth-bottom-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 4 + #{$spacing-between-rows-1200} * 4);
  $fourth-top-project-top-1200: calc(#{$first-project-top-1200} - #{$project-image-height-1200} * 2 - #{$spacing-between-rows-1200} * 2);
  $fourth-triple-extra-top-project-top-1200: calc(#{$first-project-top-1200} - #{$project-image-height-1200} * 5 - #{$spacing-between-rows-1200} * 5);
  $fourth-triple-extra-bottom-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 7 + #{$spacing-between-rows-1200} * 7);
// 1920px
  $fourth-project-left-1920: calc(#{$area-width} / 2 - 100vw / 2 + 4.84vw);
  $fourth-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} + #{$spacing-between-rows-1920});
  $fourth-bottom-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 4 + #{$spacing-between-rows-1920} * 4);
  $fourth-top-project-top-1920: calc(#{$first-project-top-1920} - #{$project-image-height-1920} * 2 - #{$spacing-between-rows-1920} * 2);
  $fourth-triple-extra-top-project-top-1920: calc(#{$first-project-top-1920} - #{$project-image-height-1920} * 5 - #{$spacing-between-rows-1920} * 5);
  $fourth-triple-extra-bottom-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 7 + #{$spacing-between-rows-1920} * 7);

// Seventh project
// mobile
$seventh-project-left-mob: calc(#{$area-width} / 2 - 100vw / 2 + 32.5vw);
$seventh-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 2 + #{$spacing-between-rows-mob} * 2);
$seventh-top-project-top-mob: calc(#{$first-project-top-mob} - #{$project-image-height-mob} - #{$spacing-between-rows-mob});
$seventh-extra-bottom-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 5 + #{$spacing-between-rows-mob} * 5);
$seventh-double-extra-top-project-top-mob: calc(#{$first-project-top-mob} - #{$project-image-height-mob} * 4 - #{$spacing-between-rows-mob} * 4);
$seventh-quadruple-extra-bottom-project-top-mob: calc(#{$first-project-top-mob} + #{$project-image-height-mob} * 8 + #{$spacing-between-rows-mob} * 8);
// 768px
//  $seventh-project-left-768: calc(#{$area-width} / 2 - 100vw / 2 + 12.63vw);
  $seventh-project-left-768: calc(#{$area-width} / 2 - 100vw / 2 + 32.5vw);
  $seventh-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} * 2 + #{$spacing-between-rows-768} * 2);
  $seventh-top-project-top-768: calc(#{$first-project-top-768} - #{$project-image-height-768} - #{$spacing-between-rows-768});
  $seventh-extra-bottom-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} * 5 + #{$spacing-between-rows-768} * 5);
  $seventh-double-extra-top-project-top-768: calc(#{$first-project-top-768} - #{$project-image-height-768} * 4 - #{$spacing-between-rows-768} * 4);
  $seventh-quadruple-extra-bottom-project-top-768: calc(#{$first-project-top-768} + #{$project-image-height-768} * 8 + #{$spacing-between-rows-768} * 8);
// 1200px
  $seventh-project-left-1200: calc(#{$area-width} / 2 - 100vw / 2 + #{$spacing-between-columns-1200});
  $seventh-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 2 + #{$spacing-between-rows-1200} * 2);
  $seventh-top-project-top-1200: calc(#{$first-project-top-1200} - #{$project-image-height-1200} - #{$spacing-between-rows-1200});
  $seventh-extra-bottom-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 5 + #{$spacing-between-rows-1200} * 5);
  $seventh-double-extra-top-project-top-1200: calc(#{$first-project-top-1200} - #{$project-image-height-1200} * 4 - #{$spacing-between-rows-1200} * 4);
  $seventh-quadruple-extra-bottom-project-top-1200: calc(#{$first-project-top-1200} + #{$project-image-height-1200} * 8 + #{$spacing-between-rows-1200} * 8);
// 1920px
  $seventh-project-left-1920: calc(#{$area-width} / 2 - 100vw / 2 + 14.11vw);
  $seventh-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 2 + #{$spacing-between-rows-1920} * 2);
  $seventh-top-project-top-1920: calc(#{$first-project-top-1920} - #{$project-image-height-1920} - #{$spacing-between-rows-1920});
  $seventh-extra-bottom-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 5 + #{$spacing-between-rows-1920} * 5);
  $seventh-double-extra-top-project-top-1920: calc(#{$first-project-top-1920} - #{$project-image-height-1920} * 4 - #{$spacing-between-rows-1920} * 4);
  $seventh-quadruple-extra-bottom-project-top-1920: calc(#{$first-project-top-1920} + #{$project-image-height-1920} * 8 + #{$spacing-between-rows-1920} * 8);
