#donation {
  .hero {
    padding: 80px 60px;

    @media (max-width: 1024px) {
      padding: 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
    }

    .title-section {
      margin: 0;
      font-size: 60px;
      text-align: center;

      @media (max-width: 1440px) {
        font-size: 50px;
      }

      @media (max-width: 767px) {
        font-size: 40px;
      }
    }
  }

  .donation {
    position: relative;
    padding: 0 60px 80px;

    @media (max-width: 1024px) {
      padding: 0 30px 60px;
    }

    @media (max-width: 767px) {
      padding: 0 10px 30px;
    }

    &__wrapper {
      width: 100%;
      grid-template-columns: repeat(3, 31%);
      margin-bottom: 0;

      @media (max-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__single {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 25px;

        @media (max-width: 1440px) {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      border: 1px solid #000;
      border-radius: 8px;
      box-shadow: 0 0 10px #0c0c0c;

      h2 {
        margin: 0;
        text-align: center;

      }

      &__wrapper {
        div {
          margin-bottom: 5px;
        }

        label {
          font-size: 16px;
          font-style: normal;
        }

        button {
          margin-top: 20px;
          padding: 15px 0;
          width: 100%;
          font-size: 18px;
          background: #fdda24;
          border: 1px solid #000;
          border-radius: 8px;
          color: #000;
          transition: .5s;

          &:hover {
            cursor: pointer;
            border: 1px solid #000;
            box-shadow: 0 2px 5px #000;
            transform: scale(1.02);
            transition: .5s;
          }
        }
      }
    }
  }
}