#footer {
  padding: 10px 0;
  background: rgba(0, 0, 0, .7);

  .footer {
    &__copyright {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}