#header {
  padding: 10px 60px;
  background: rgba(0, 0, 0, .7);

  @media (max-width: 1024px) {
    padding: 10px 30px;
  }

  @media (max-width: 767px) {
    padding: 10px;
  }

  .header {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .site-branding {
        .custom-logo {
          width: 100%;
          max-width: 70px;
          height: 70px;
        }
      }

      .main-navigation {
        @media (max-width: 860px) {
          display: none;
        }

        .menu {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 50px;
          margin: 0;
          padding: 0;

          &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #0c0c0c;
            background: #fff;
            border: 1px solid #000;
            border-radius: 8px;
            transition: .5s;

            &:hover {
              background: #0c0c0c;
              border-color: #fff;
              transition: .5s;

              a {
                color: #fff;
                transition: .5s;
              }
            }

            a {
              display: flex;
              padding: 5px 10px;
              color: #0c0c0c;
              transition: .5s;
            }
          }
        }
      }
    }

    &__message {
      display: flex;
      align-items: center;
      gap: 20px;

      #switch-alarm {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        transition: .5s;

        &:hover {
          cursor: pointer;
          transform: scale(1.02);
          transition: .5s;
        }
      }
    }

    &__login {
      display: flex;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 100%;
        max-width: 40px;
      }
    }

    &__location {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        color: #fff;
      }
    }
  }

  .mobile {
    display: none;

    @media (max-width: 860px) {
      display: flex;
      flex-direction: column;
    }

    hr {
      width: 100%;
    }

    &__menu {
      padding: 0;
      background: transparent;
      border: none;
    }

    &__list {
      width: 100%;
      position: relative;
      margin: 0;
      display: none;
      z-index: 2;
      flex-direction: column;
      list-style: none;

      &.active {
        display: block;
        animation: menuIsVisible 0.5s linear 1;
        animation-fill-mode: forwards;
      }

      &.disActive {
        animation: menuIsUnVisible 0.5s linear 1;
        animation-fill-mode: forwards;
      }


      @keyframes menuIsVisible {
        from {
          height: 0;
        }
        to {
          height: 100vh;
        }
      }

      @keyframes menuIsUnVisible {
        from {
          height: 100vh;
        }
        to {
          height: 0;
        }
      }
    }

    .main-navigation {
      margin-top: 20px;

      .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;

        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #0c0c0c;
          background: #fff;
          border: 1px solid #000;
          border-radius: 8px;
          transition: .5s;
          width: 100%;
          text-align: center;

          &:hover {
            background: #0c0c0c;
            border-color: #fff;
            transition: .5s;

            a {
              color: #fff;
              transition: .5s;
            }
          }

          a {
            display: flex;
            justify-content: center;
            padding: 5px 10px;
            width: 100%;
            text-align: center;
            color: #0c0c0c;
            transition: .5s;
          }
        }
      }
    }
  }
}