#homepage {
  .hero {
    position: relative;
    padding: 80px 60px;
    height: calc(100vh - 50px);
    background: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;

    @media (max-width: 1024px) {
      padding: 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #303030;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .5;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      gap: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 1760px) {
        width: 100%;
      }
    }

    &__arrow {
      img {
        width: 50px;
        height: 50px;
      }
    }

    &__title {
      margin: 0;
      font-size: 72px;
      line-height: 1.15;
      font-weight: 700;
      color: #ffffff;

      @media (max-width: 1440px) {
        font-size: 50px;
      }

      @media (max-width: 767px) {
        font-size: 28px;
      }
    }

    &__text {
      width: 100%;
      max-width: 750px;
      margin: 0;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 400;
      text-align: center;
      color: #ffffff;

      @media (max-width: 1440px) {
        font-size: 20px;
      }

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .button {
    display: flex;

    &_group {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;

      @media (max-width: 1760px) {
        max-width: 650px;
      }
    }

    a {
      padding: 10px 20px;
      font-size: 14px;
      line-height: 1.55;
      font-weight: 600;
      background: #fdda24;
      box-shadow: 0 2px 3px #000;
      border-radius: 8px;
      color: #000;
      transition: .5s;

      &:hover {
        scale: 1.1;
        transition: .5s;
      }

      @media (max-width: 767px) {
        padding: 10px;
        font-size: 12px;
      }
    }
  }

  .help {
    display: flex;
    position: relative;
    padding: 80px 60px;
    height: 100vh;
    background: url("../images/help.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1024px) {
      padding: 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
      background-position-x: right;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #303030;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .5;
    }

    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      max-width: 50%;

      @media (max-width: 1440px) {
        max-width: 75%;
      }

      @media (max-width: 767px) {
        max-width: 100%;
      }
    }

    &__title {
      margin: 0;
      font-size: 26px;
      line-height: 34px;
      color: #fff;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    &__text {
      text-align: center;

      p {
        font-size: 18px;
        line-height: 1.55;
        text-align: center;
        color: #afafaf;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }

      span {
        font-size: 40px;
      }
    }

    .button {
      a {
        padding: 20px 40px;
        font-size: 16px;
        font-weight: 700;

        @media (max-width: 767px) {
          padding: 10px;
        }
      }
    }
  }

  .title {
    margin: 0;
    font-size: 52px;
    font-weight: 600;
    line-height: 1.23;
    color: #000;
    text-align: center;

    @media (max-width: 1440px) {
      font-size: 50px;
    }

    @media (max-width: 1024px) {
      font-size: 30px;
    }
  }

  .subtitle {
    width: 100%;
    max-width: 850px;
    margin: 20px auto;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.45;
    color: #000;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }

  .about-us {
    padding: 80px 60px;

    @media (max-width: 1024px) {
      padding: 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
    }

    &__title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 30px;
      }
    }

    p {
      font-size: 20px;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }

    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      &__img {
        img {
          width: 100px;
          height: 100px;
        }
      }

      &__content {
        width: 100%;
        max-width: 325px;
      }

      &__title {
        margin: 10px auto 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.35;
        color: #000;
        text-align: center;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.55;
        color: #000;
        text-align: center;
      }
    }
  }

  .donation {
    padding: 80px 60px;

    @media (max-width: 1024px) {
      padding: 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
    }

    .title {
      margin-bottom: 30px;
    }
  }

  .contact {
    padding: 80px 60px;

    @media (max-width: 1024px) {
      padding: 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
    }

    .subtitle {
      font-size: 18px;
      line-height: 1.55;
      text-align: center;
      color: #000;

      @media (max-width: 1024px) {
        font-size: 16px;
      }

      span {
        font-size: 30px;
      }
    }

    &__wrapper {
      width: 100%;
      max-width: 500px;
      margin: 20px auto 0;
      padding: 10px 20px;
      border: 2px solid #000;
      border-radius: 8px;
      box-shadow: 0 0 10px #0c0c0c;

      .wpcf7 {
        &-list-item {
          margin: 0;
        }

        &-spinner {
          display: none;
        }

        &-form {
          input {
            width: 100%;
          }

          .form {
            &__wrapper {
              &__field {
                input {
                  padding: 10px;
                  border: 1px solid #000;
                  border-radius: 8px;
                }

                select {
                  width: 100%;
                  padding: 10px;
                  border: 1px solid #000;
                  border-radius: 8px;
                }

                textarea {
                  width: 100%;
                  padding: 10px;
                  border: 1px solid #000;
                  border-radius: 8px;
                }
              }
            }

            &__checkbox {
              input {
                width: auto;
                border: none;
              }
            }

            &__submit {
              input {
                padding: 15px 0;
                font-size: 18px;
                background: #fdda24;
                border: 1px solid #000;
                border-radius: 8px;
                color: #000;
                transition: .5s;

                &:hover {
                  cursor: pointer;
                  border: 1px solid #000;
                  box-shadow: 0 2px 5px #000;
                  transform: scale(1.02);
                  transition: .5s;
                }
              }
            }
          }
        }
      }
    }
  }
}

#donation {
  .donation {
    padding: 80px 60px;

    @media (max-width: 1024px) {
      padding: 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
    }

    .title {
      margin-bottom: 30px;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      margin-bottom: 50px;
      width: 100%;

      @media (max-width: 1440px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 10px 20px;
      width: 100%;
      max-width: 500px;
      font-size: 14px;
      line-height: 1.55;
      font-weight: 600;
      background: #fdda24;
      box-shadow: 0 2px 3px #000;
      border-radius: 8px;
      color: #000;
      transition: .5s;

      &:hover {
        scale: 1.1;
        transition: .5s;
      }
    }

    &__items {
      position: relative;
      height: 100%;
      min-height: 500px;
      color: #0c0c0c;
      border: 1px solid #000;
      border-radius: 8px;
      transition: .5s;

      &:hover {
        box-shadow: 0 3px 5px #000;
        transform: scale(1.02);
        transition: .5s;
      }

      img {
        width: 100%;
        height: 360px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px 8px 0 0;

        @media (max-width: 1440px) {
          height: 200px;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 20px;

        .content {
          &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-size: 26px;
          }

          &__description {
            word-wrap: break-word;

            p {
              display: flex;
              align-items: center;
              font-size: 18px;
              word-wrap: break-word;
            }
          }

          &__taxonomy {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 90%;
            bottom: 10px;
          }

          &__location {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}