#modalForm {
  @media (max-width: 767px) {
    padding: 10px;
  }

  .modal {
    &__hero {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
        max-width: 120px;
        margin: auto;
        text-align: center;
      }

      h3 {
        margin: 0;
        font-size: 34px;
        text-align: center;

        @media (max-width: 767px) {
          font-size: 24px;
        }
      }

      p {
        font-size: 18px;
        margin: 5px;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    &__form {
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 8px;
        margin-top: 10px;
      }

      #confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 250px;
        margin: 15px auto 0;
        padding: 20px;
        font-size: 18px;
        background: #fdda24;
        border: 1px solid #000;
        border-radius: 8px;
        color: #000;
        transition: .5s;

        @media (max-width: 767px) {
          padding: 15px 20px;
        }

        &:hover {
          cursor: pointer;
          border: 1px solid #000;
          box-shadow: 0 2px 5px #000;
          transform: scale(1.02);
          transition: .5s;
        }

        &:disabled {
          cursor: no-drop;
          background: rgba(253, 218, 36, 0.4);
        }
      }
    }
  }
}