#single-help {
  .help {
    padding: 30px 60px 80px;

    @media (max-width: 1024px) {
      padding: 30px 30px 60px;
    }

    @media (max-width: 767px) {
      padding: 30px 10px;
    }

    &__wrapper {
      &__content {
        padding: 20px;
        border: 1px solid #000;
        border-radius: 8px;
        box-shadow: 0 2px 5px #000;
      }
    }

    &__content {
      img {
        display: block;
        margin: auto;
        width: 100%;
        height: 360px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;

        @media (max-width: 1440px) {
          height: 200px;
        }
      }

      &__title {
        font-size: 35px;
        text-align: center;
      }

      &__description {
        font-size: 20px;

        p {
          margin: 10px;
        }

        a {
          word-wrap: break-word;
        }
      }

      &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;

        a {
          display: inline-block;
          border: 1px solid silver;
          border-radius: 8px;
          transition: .5s;

          &:hover {
            transform: scale(1.02);
            box-shadow: 0 2px 3px silver;
            transition: .5s;
          }

          img {
            width: 100%;
            max-width: 250px;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
          }
        }
      }
    }
  }
}